<h1>
  All tweets
</h1>

<a href="/tweets/new">
  Add a new tweet
</a>

<hr>

  <div class="container">
    <div class="row">
  <div class="col-md-12">

  </div>
</div>

<% @tweets.each do |tweet| %>
    <div class="row">
  <div class="col-md-8 offset-md-2">
  </div>
</div>


<div class="row mb-5">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= @users.find(tweet.user_id).username %>
        </h4>
      </div>

      <div class="card-body">
        <%= tweet.body %>
        <br>
        #<%= @categories.find(tweet.category_id).topic %>
        <br>
        <a href="/tweets/<%= tweet.id %>/edit">Edit Tweet</a>
        
        

        <div>

        </div>
      </div> <!-- card-body -->
    </div> <!-- card  -->
  </div> <!-- col-md-8 offset-md-2 -->
</div> <!-- row -->

<% end %>

  </div>
